@model EMS.Models.ViewModels.CreateUserViewModel
@{
    ViewData["Title"] = "Create New User";
}

<h1>@ViewData["Title"]</h1>
<h4>Create a new account and assign a role.</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" asp-action="CreateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="Role" class="form-control" asp-items="@Model.RoleList" aria-required="true">
                    <option value="">Select a Role</option>
                </select>
                <label asp-for="Role">Role</label>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Create User</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}